<header id="navbar" role="banner">


    <div class="pup-header_official">
      <div class="container header-official-message">
        <div class="inline-official">
          <div class="official-site-flag">
          </div>
          <div class="region region-header-official">




            <section id="block-governmentbanner"
              data-block-plugin-id="block_content:2d0fd18b-5f78-424d-a8b7-dfb90febb231"
              class="block block-block-content block-block-content2d0fd18b-5f78-424d-a8b7-dfb90febb231 clearfix">




              <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <p>An official website of the United States Government</p>
              </div>

            </section>


          </div>

        </div>
      </div>
    </div>

    <div class="pup-header-main">
      <div class="container">
        <div class="row pup-header-main__content">


          <div class="col-xs-2 no-gutter pup-header-content-lt">
            <div class="region region-header-left">
              <a class="logo navbar-btn pull-left" href="/" title="Home" rel="home">
                <img src="images/IRS-Logo.svg" alt="Home">
                <img class="print-logo" src="images/logo-print.svg" alt="Home" aria-hidden="true">
              </a>

            </div>

          </div>


          <div class="col-sm-10 hidden-xs hidden-sm pup-header-content-rt">
            <div class="region region-header-right">

              <div
                class="language-switcher-language-url block block-language block-language-blocklanguage-interface clearfix"
                id="block-languageswitcher" data-block-plugin-id="language_block:language_interface">



                <div class="dropdown pup-switch-hidden">
                  <button class="btn btn-default dropdown-toggle languageSwitcher" type="button" id="languageSwitcher"
                    data-toggle="dropdown" aria-expanded="false">
                    English
                    <i class="fa fa-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu" block="languageswitcher">
                    <li hreflang="es" data-drupal-link-system-path="<front>" class="es"><a href="/es"
                        class="language-link" lang="es" hreflang="es"
                        data-drupal-link-system-path="<front>">Español</a></li>
                    <li hreflang="zh-hans" data-drupal-link-system-path="<front>" class="zh-hans"><a href="/zh-hans"
                        class="language-link" lang="zh-hans" hreflang="zh-hans"
                        data-drupal-link-system-path="<front>">中文 (简体)</a></li>
                    <li hreflang="zh-hant" data-drupal-link-system-path="<front>" class="zh-hant"><a href="/zh-hant"
                        class="language-link" lang="zh-hant" hreflang="zh-hant"
                        data-drupal-link-system-path="<front>">中文 (繁體)</a></li>
                    <li hreflang="ko" data-drupal-link-system-path="<front>" class="ko"><a href="/ko"
                        class="language-link" lang="ko" hreflang="ko" data-drupal-link-system-path="<front>">한국어</a>
                    </li>
                    <li hreflang="ru" data-drupal-link-system-path="<front>" class="ru"><a href="/ru"
                        class="language-link" lang="ru" hreflang="ru"
                        data-drupal-link-system-path="<front>">Русский</a></li>
                    <li hreflang="vi" data-drupal-link-system-path="<front>" class="vi"><a href="/vi"
                        class="language-link" lang="vi" hreflang="vi" data-drupal-link-system-path="<front>">Tiếng
                        Việt</a></li>
                    <li hreflang="ht" data-drupal-link-system-path="<front>" class="ht"><a href="/ht"
                        class="language-link" lang="ht" hreflang="ht" data-drupal-link-system-path="<front>">Kreyòl
                        ayisyen</a></li>
                  </ul>
                </div>

              </div>

              <nav role="navigation" aria-labelledby="block-pup-irs-informationmenu-2-menu"
                id="block-pup-irs-informationmenu-2" data-block-plugin-id="system_menu_block:pup-info-menu"
                class="pup-nav-en">

                <h2 class="visually-hidden" id="block-pup-irs-informationmenu-2-menu">Information Menu</h2>



                <ul block="pup_irs_informationmenu_2" class="menu menu--pup-info-menu nav">
                  <li class="first">
                    <a href="/help/let-us-help-you" title="Help" data-drupal-link-system-path="node/16916">Help</a>
                  </li>
                  <li>
                    <a href="/newsroom" title="News" data-drupal-link-system-path="node/19646">News</a>
                  </li>
                  <li>
                    <a href="/charities-and-nonprofits" data-drupal-link-system-path="node/58461">2102901200</a>
                  </li>
                  <li class="last">
                    <a href="/tax-professionals" data-drupal-link-system-path="node/11">Tax Pros</a>
                  </li>
                </ul>


              </nav>

            </div>

          </div>

          <div class="col-xs-10 hidden-md hidden-lg no-gutter">
            <ul class="pup-header-mobile-menu pull-right">
              <li id="pup-mobile-navbar-searchBtn" class="pup-header-mobile-menu__searchBtn"
                data-target="#navbar-collapse">
                Search
                <span class="sr-only">Toggle search</span>
                <div id="navbar-collapse"
                  class="pup-header-content-rt col-xs-12 hidden-md hidden-lg collapse no-gutter">
                  <div class="region region-search-form-collapsible">
                    <div class="pup-site-header-search-block pup-search-box-hidden">
                      <div class="pup-site-header-search-block__searchfield">

                        <form block="exposedformpup_site_index_searchsite_search_srt_relevance_4"
                          action="/site-index-search" method="get"
                          id="views-exposed-form-pup-site-index-search-site-search-srt-relevance"
                          accept-charset="UTF-8" novalidate="">
                          <div class="form--inline form-inline clearfix">









                            <div
                              class="form-item form-group js-form-item form-type-textfield js-form-type-textfield form-item-search js-form-item-search">




                              <label for="search-main-mobile" class="control-label">Search</label>

                              <input placeholder="Search" aria-label="Search" data-drupal-selector="edit-search"
                                class="form-text form-control" type="text" id="search-main-mobile" name="search"
                                value="" size="30" maxlength="128">



                            </div>









                            <div
                              class="form-item form-group js-form-item form-type-select js-form-type-select form-item-field-pup-historical-1 js-form-item-field-pup-historical-1">




                              <label for="edit-field-pup-historical-1" class="control-label">Include Historical
                                Content</label>

                              <div class="select-style select-wrapper"><select
                                  data-drupal-selector="edit-field-pup-historical-1" class="form-select form-control"
                                  id="edit-field-pup-historical-1" name="field_pup_historical_1">
                                  <option value="All">- Any -</option>
                                  <option value="1" selected="selected">No</option>
                                </select></div>



                            </div>









                            <div
                              class="form-item form-group js-form-item form-type-select js-form-type-select form-item-field-pup-historical js-form-item-field-pup-historical">




                              <label for="edit-field-pup-historical" class="control-label">Include Historical
                                Content</label>

                              <div class="select-style select-wrapper"><select
                                  data-drupal-selector="edit-field-pup-historical" class="form-select form-control"
                                  id="edit-field-pup-historical" name="field_pup_historical">
                                  <option value="All">- Any -</option>
                                  <option value="1" selected="selected">No</option>
                                </select></div>



                            </div>
                            <div data-drupal-selector="edit-actions"
                              class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions"><button
                                title="Search" data-drupal-selector="edit-submit-pup-site-index-search"
                                class="button js-form-submit form-submit btn-primary btn icon-before" type="submit"
                                id="edit-submit-pup-site-index-search" value="Search"><span
                                  class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
                                Search</button></div>

                          </div>

                        </form>
                      </div>
                    </div>

                  </div>

                </div>
              </li>
              <li id="pup-mobile-navbar-infoBtn" class="pup-header-mobile-menu__infoBtn">
                <div class="region region-help-menu-mobile">
                  <nav role="navigation" aria-labelledby="block-helpmenumobile-menu" id="block-helpmenumobile"
                    data-block-plugin-id="system_menu_block:help-menu-mobile">

                    <h2 class="visually-hidden" id="block-helpmenumobile-menu">Help Menu Mobile</h2>



                    <ul block="helpmenumobile" class="menu menu--help-menu-mobile nav">
                      <li class="first last">
                        <a href="/help/let-us-help-you" data-drupal-link-system-path="node/16916">Help</a>
                      </li>
                    </ul>


                  </nav>

                </div>
              </li>
              <li id="pup-mobile-navbar-menuBtn" class="pup-header-mobile-menu__menuBtn mobile-menu-icon"
                data-target="#pup-header-nav-collapse">
                Menu
                <span class="sr-only">Toggle menu</span>
              </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    <div class="header-nav hidden-xs hidden-sm">
      <div class="container-fluid">
        <div class="region region-site-navigation">
          <nav role="navigation" aria-labelledby="block-mainnavigationmobile-2-menu" id="block-mainnavigationmobile-2"
            data-block-plugin-id="system_menu_block:main_mobile">

            <h2 class="visually-hidden" id="block-mainnavigationmobile-2-menu">Main navigation</h2>




            <ul block="mainnavigationmobile_2" class="menu nav" id="accessible-megamenu-navigation">
              <a id="stickyNavLogo" class="logo navbar-btn pull-left" href="/" title="Home" rel="home">
                <img src="images/IRS-Logo.svg" alt="Home">
              </a>
              <li class="expanded megamenu-top-nav-item dropdown" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <a href="/filing" aria-controls="accessible-megamenu-file-submenu" aria-expanded="false"
                  aria-label="File menu has additional options. Use the spacebar to open the File sub menu or enter to navigate to the File page."
                  role="application" id="accessible-megamenu-nav-item-0">File</a>
                <ul block="mainnavigationmobile_2" class="menu dropdown-menu" id="accessible-megamenu-file-submenu"
                  aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-nav-item-0"
                  role="region">
                  <div class="mega-menu-container">
                    <li><a href="/filing" class="mobile-only-text" id="accessible-megamenu-file-submenu-0"
                        data-drupal-link-system-path="node/19656">Overview</a>
                    </li>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header" id="accessible-megamenu-file-submenu-1">INFORMATION
                          FOR…</span>
                      </li>
                      <li><a href="/how-to-file-your-taxes-step-by-step" id="accessible-megamenu-file-submenu-2"
                          data-drupal-link-system-path="node/19456">Individuals</a>
                      </li>
                      <li><a href="/businesses" id="accessible-megamenu-file-submenu-3"
                          data-drupal-link-system-path="node/18976">Business & Self Employed</a>
                      </li>
                      <li><a href="/charities-and-nonprofits" id="accessible-megamenu-file-submenu-4"
                          data-drupal-link-system-path="node/58461">Charities and Nonprofits</a>
                      </li>
                      <li><a href="/individuals/international-taxpayers" id="accessible-megamenu-file-submenu-5"
                          data-drupal-link-system-path="node/19696">International Taxpayers</a>
                      </li>
                      <li><a href="/government-entities/federal-state-local-governments"
                          id="accessible-megamenu-file-submenu-6" data-drupal-link-system-path="node/19446">Federal
                          State and Local Governments</a>
                      </li>
                      <li><a href="/government-entities/indian-tribal-governments"
                          id="accessible-megamenu-file-submenu-7" data-drupal-link-system-path="node/19601">Indian
                          Tribal Governments</a>
                      </li>
                      <li><a href="/tax-exempt-bonds" id="accessible-megamenu-file-submenu-8"
                          data-drupal-link-system-path="node/19671">Tax Exempt Bonds</a>
                      </li>
                    </div>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header" id="accessible-megamenu-file-submenu-9">FILING FOR
                          INDIVIDUALS</span>
                      </li>
                      <li><a href="/filing/individuals/how-to-file" id="accessible-megamenu-file-submenu-10"
                          data-drupal-link-system-path="node/22856">How to File</a>
                      </li>
                      <li><a href="/filing/individuals/when-to-file" id="accessible-megamenu-file-submenu-11"
                          data-drupal-link-system-path="node/22726">When to File</a>
                      </li>
                      <li><a href="/filing/where-to-file-tax-returns-addresses-listed-by-return-type"
                          id="accessible-megamenu-file-submenu-12" data-drupal-link-system-path="node/2442">Where to
                          File</a>
                      </li>
                      <li><a href="/filing/individuals/update-my-information" id="accessible-megamenu-file-submenu-13"
                          data-drupal-link-system-path="node/22861">Update Your Information</a>
                      </li>
                    </div>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header"
                          id="accessible-megamenu-file-submenu-14">POPULAR</span>
                      </li>
                      <li><a href="/individuals/get-transcript" id="accessible-megamenu-file-submenu-15"
                          data-drupal-link-system-path="node/136676">Get Your Tax Record</a>
                      </li>
                      <li><a href="/businesses/small-businesses-self-employed/get-an-employer-identification-number"
                          id="accessible-megamenu-file-submenu-16" data-drupal-link-system-path="node/17153">Apply for
                          an Employer ID Number (EIN)</a>
                      </li>
                      <li><a href="/filing/wheres-my-amended-return" id="accessible-megamenu-file-submenu-17"
                          data-drupal-link-system-path="node/17175">Check Your Amended Return Status</a>
                      </li>
                      <li><a href="/identity-theft-fraud-scams/get-an-identity-protection-pin"
                          id="accessible-megamenu-file-submenu-18" data-drupal-link-system-path="node/16696">Get an
                          Identity Protection PIN (IP PIN)</a>
                      </li>
                      <li><a href="/filing/irs-free-file-do-your-taxes-for-free"
                          id="accessible-megamenu-file-submenu-19" data-drupal-link-system-path="node/54546">File Your
                          Taxes for Free</a>
                      </li>
                    </div>
                  </div>
                </ul>

              </li>
              <li class="expanded megamenu-top-nav-item dropdown" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <a href="/payments" aria-controls="accessible-megamenu-pay-submenu" aria-expanded="false"
                  aria-label="Pay menu has additional options. Use the spacebar to open the Pay sub menu or enter to navigate to the Pay page."
                  role="application" id="accessible-megamenu-nav-item-1">Pay</a>
                <ul block="mainnavigationmobile_2" class="menu dropdown-menu" id="accessible-megamenu-pay-submenu"
                  aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-nav-item-1"
                  role="region">
                  <div class="mega-menu-container">
                    <li><a href="/payments" class="mobile-only-text" id="accessible-megamenu-pay-submenu-0"
                        data-drupal-link-system-path="node/19551">Overview</a>
                    </li>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header" id="accessible-megamenu-pay-submenu-1">PAY BY</span>
                      </li>
                      <li><a href="/payments/direct-pay-with-bank-account" id="accessible-megamenu-pay-submenu-2"
                          data-drupal-link-system-path="node/10224">Bank Account (Direct Pay)</a>
                      </li>
                      <li><a href="/payments/online-payment-agreement-application"
                          id="accessible-megamenu-pay-submenu-3" data-drupal-link-system-path="node/16716">Payment
                          Plan (Installment Agreement)</a>
                      </li>
                      <li><a href="/payments/eftps-the-electronic-federal-tax-payment-system"
                          id="accessible-megamenu-pay-submenu-4" data-drupal-link-system-path="node/15488">Electronic
                          Federal Tax Payment System (EFTPS)</a>
                      </li>
                    </div>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header" id="accessible-megamenu-pay-submenu-5">POPULAR</span>
                      </li>
                      <li><a href="/your-account" id="accessible-megamenu-pay-submenu-6"
                          data-drupal-link-system-path="node/126776">Your Online Account</a>
                      </li>
                      <li><a href="/individuals/tax-withholding-estimator" id="accessible-megamenu-pay-submenu-7"
                          data-drupal-link-system-path="node/107181">Tax Withholding Estimator</a>
                      </li>
                      <li><a href="/businesses/small-businesses-self-employed/estimated-taxes"
                          id="accessible-megamenu-pay-submenu-8" data-drupal-link-system-path="node/17135">Estimated
                          Taxes</a>
                      </li>
                      <li><a href="/payments/penalties" id="accessible-megamenu-pay-submenu-9"
                          data-drupal-link-system-path="node/91826">Penalties</a>
                      </li>
                    </div>
                  </div>
                </ul>

              </li>
              <li class="expanded megamenu-top-nav-item dropdown" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <a href="/refunds" aria-controls="accessible-megamenu-refunds-submenu" aria-expanded="false"
                  aria-label="Refunds menu has additional options. Use the spacebar to open the Refunds sub menu or enter to navigate to the Refunds page."
                  role="application" id="accessible-megamenu-nav-item-2">Refunds</a>
                <ul block="mainnavigationmobile_2" class="menu dropdown-menu" id="accessible-megamenu-refunds-submenu"
                  aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-nav-item-2"
                  role="region">
                  <div class="mega-menu-container">
                    <li><a href="/refunds" class="mobile-only-text" id="accessible-megamenu-refunds-submenu-0"
                        data-drupal-link-system-path="node/130131">Overview</a>
                    </li>
                    <div class="mega-menu-column no-header-extra-padding">
                      <li><a href="/wheres-my-refund" class="mega-menu-column-header"
                          id="accessible-megamenu-refunds-submenu-1" data-drupal-link-system-path="node/19556">Where's
                          My Refund</a>
                      </li>
                      <li><a
                          href="/refunds/get-your-refund-faster-tell-irs-to-direct-deposit-your-refund-to-one-two-or-three-accounts"
                          id="accessible-megamenu-refunds-submenu-2" data-drupal-link-system-path="node/10971">Direct
                          Deposit</a>
                      </li>
                      <li><a href="/taxtopics/tc203" id="accessible-megamenu-refunds-submenu-3"
                          data-drupal-link-system-path="node/67936">Reduced Refunds</a>
                      </li>
                      <li><a href="/filing/file-an-amended-return" id="accessible-megamenu-refunds-submenu-4"
                          data-drupal-link-system-path="node/128551">Amend Return</a>
                      </li>
                    </div>
                  </div>
                </ul>

              </li>
              <li class="expanded megamenu-top-nav-item dropdown" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <a href="/credits-and-deductions" aria-controls="accessible-megamenu-credits-deductions-submenu"
                  aria-expanded="false"
                  aria-label="Credits & Deductions menu has additional options. Use the spacebar to open the Credits & Deductions sub menu or enter to navigate to the Credits & Deductions page."
                  role="application" id="accessible-megamenu-nav-item-3">Credits & Deductions</a>
                <ul block="mainnavigationmobile_2" class="menu dropdown-menu"
                  id="accessible-megamenu-credits-deductions-submenu" aria-expanded="false" aria-hidden="true"
                  aria-labelledby="accessible-megamenu-nav-item-3" role="region">
                  <div class="mega-menu-container">
                    <li><a href="/credits-and-deductions" class="mobile-only-text"
                        id="accessible-megamenu-credits-deductions-submenu-0"
                        data-drupal-link-system-path="node/80206">Overview</a>
                    </li>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header"
                          id="accessible-megamenu-credits-deductions-submenu-1">INFORMATION FOR...</span>
                      </li>
                      <li><a href="/credits-and-deductions-for-individuals" title="For you and your family"
                          id="accessible-megamenu-credits-deductions-submenu-2"
                          data-drupal-link-system-path="node/5">Individuals</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          For you and your family
                        </span>
                      </li>
                      <li><a href="/credits-deductions/businesses" title="Standard mileage and other information"
                          id="accessible-megamenu-credits-deductions-submenu-3"
                          data-drupal-link-system-path="node/19941">Businesses & Self-Employed</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Standard mileage and other information
                        </span>
                      </li>
                    </div>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header"
                          id="accessible-megamenu-credits-deductions-submenu-4">POPULAR</span>
                      </li>
                      <li><a href="/credits-deductions/individuals/earned-income-tax-credit-eitc"
                          id="accessible-megamenu-credits-deductions-submenu-5"
                          data-drupal-link-system-path="node/18966">Earned Income Credit (EITC)</a>
                      </li>
                      <li><a href="/credits-deductions/individuals/child-tax-credit"
                          id="accessible-megamenu-credits-deductions-submenu-6"
                          data-drupal-link-system-path="node/771">Child Tax Credit</a>
                      </li>
                      <li><a href="/credits-deductions/clean-vehicle-and-energy-credits"
                          id="accessible-megamenu-credits-deductions-submenu-7"
                          data-drupal-link-system-path="node/126641">Clean Energy and Vehicle Credits</a>
                      </li>
                      <li><a href="/help/ita/how-much-is-my-standard-deduction"
                          id="accessible-megamenu-credits-deductions-submenu-8"
                          data-drupal-link-system-path="node/5229">Standard Deduction</a>
                      </li>
                      <li><a href="/retirement-plans" id="accessible-megamenu-credits-deductions-submenu-9"
                          data-drupal-link-system-path="node/19741">Retirement Plans</a>
                      </li>
                    </div>
                  </div>
                </ul>

              </li>
              <li class="expanded megamenu-top-nav-item dropdown" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
                <a href="/forms-instructions" aria-controls="accessible-megamenu-forms-instructions-submenu"
                  aria-expanded="false"
                  aria-label="Forms & Instructions menu has additional options. Use the spacebar to open the Forms & Instructions sub menu or enter to navigate to the Forms & Instructions page."
                  role="application" id="accessible-megamenu-nav-item-4">Forms & Instructions</a>
                <ul block="mainnavigationmobile_2" class="menu dropdown-menu"
                  id="accessible-megamenu-forms-instructions-submenu" aria-expanded="false" aria-hidden="true"
                  aria-labelledby="accessible-megamenu-nav-item-4" role="region">
                  <div class="mega-menu-container">
                    <li><a href="/forms-instructions" class="mobile-only-text"
                        id="accessible-megamenu-forms-instructions-submenu-0"
                        data-drupal-link-system-path="node/6">Overview</a>
                    </li>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header"
                          id="accessible-megamenu-forms-instructions-submenu-1">POPULAR FORMS & INSTRUCTIONS</span>
                      </li>
                      <li><a href="/forms-pubs/about-form-1040" title="Individual Tax Return"
                          id="accessible-megamenu-forms-instructions-submenu-2"
                          data-drupal-link-system-path="node/16022">Form 1040</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Individual Tax Return
                        </span>
                      </li>
                      <li><a href="/pub/irs-pdf/i1040gi.pdf" title="Instructions for Form 1040 "
                          id="accessible-megamenu-forms-instructions-submenu-3">Form 1040 Instructions</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Instructions for Form 1040
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-w-9"
                          title="Request for Taxpayer Identification Number (TIN) and Certification"
                          id="accessible-megamenu-forms-instructions-submenu-4"
                          data-drupal-link-system-path="node/15825">Form W-9</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Request for Taxpayer Identification Number (TIN) and Certification
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-4506-t" title="Request for Transcript of Tax Return"
                          id="accessible-megamenu-forms-instructions-submenu-5"
                          data-drupal-link-system-path="node/10554">Form 4506-T</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Request for Transcript of Tax Return
                        </span>
                      </li>
                    </div>
                    <div class="mega-menu-column extra-padding">
                      <li><a href="/forms-pubs/about-form-w-4" class="mega-menu-column-header"
                          title="Employee's Withholding Certificate"
                          id="accessible-megamenu-forms-instructions-submenu-6"
                          data-drupal-link-system-path="node/15498">Form W-4</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Employee's Withholding Certificate
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-941" title="Employer's Quarterly Federal Tax Return"
                          id="accessible-megamenu-forms-instructions-submenu-7"
                          data-drupal-link-system-path="node/53446">Form 941</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Employer's Quarterly Federal Tax Return
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-w-2"
                          title="Employers engaged in a trade or business who pay compensation"
                          id="accessible-megamenu-forms-instructions-submenu-8"
                          data-drupal-link-system-path="node/5737">Form W-2</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Employers engaged in a trade or business who pay compensation
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-9465" title="Installment Agreement Request"
                          id="accessible-megamenu-forms-instructions-submenu-9"
                          data-drupal-link-system-path="node/15532">Form 9465</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Installment Agreement Request
                        </span>
                      </li>
                    </div>
                    <div class="mega-menu-column">
                      <li><span class="mega-menu-column-header"
                          id="accessible-megamenu-forms-instructions-submenu-10">POPULAR FOR TAX PROS</span>
                      </li>
                      <li><a href="/forms-pubs/about-form-1040x" title="Amend/Fix Return"
                          id="accessible-megamenu-forms-instructions-submenu-11"
                          data-drupal-link-system-path="node/19996">Form 1040-X</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Amend/Fix Return
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-2848" title="Apply for Power of Attorney"
                          id="accessible-megamenu-forms-instructions-submenu-12"
                          data-drupal-link-system-path="node/15839">Form 2848</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Apply for Power of Attorney
                        </span>
                      </li>
                      <li><a href="/forms-pubs/about-form-w-7" title="Apply for an ITIN"
                          id="accessible-megamenu-forms-instructions-submenu-13"
                          data-drupal-link-system-path="node/15536">Form W-7</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Apply for an ITIN
                        </span>
                      </li>
                      <li><a href="/pub/irs-pdf/pcir230.pdf" title="Rules Governing Practice before IRS"
                          id="accessible-megamenu-forms-instructions-submenu-14">Circular 230</a>
                      </li>
                      <li class="mega-menu-helper-text">
                        <span class="desktop-only-text">
                          Rules Governing Practice before IRS
                        </span>
                      </li>
                    </div>
                  </div>
                </ul>

              </li>
            </ul>

            



          </nav>
          <div class="pup-site-header-search-block pup-search-box-hidden">
            <div class="pup-site-header-search-block__searchfield">

              <form block="pup_irs_exposedformpup_site_index_searchsite_search_srt_relevance_2"
                action="/site-index-search" method="get"
                id="views-exposed-form-pup-site-index-search-site-search-srt-relevance--2" accept-charset="UTF-8"
                novalidate="">
                <div class="form--inline form-inline clearfix">



                  <div class="form-item form-group js-form-item form-type-textfield js-form-type-textfield form-item-search js-form-item-search">
                    <label for="search-main" class="control-label">Search</label>

                    <input placeholder="Search" aria-label="Search" data-drupal-selector="edit-search"
                      class="form-text form-control" type="text" id="search-main" name="search" value="" size="30"
                      maxlength="128">



                  </div>


                  <div class="form-item form-group js-form-item form-type-select js-form-type-select form-item-field-pup-historical-1 js-form-item-field-pup-historical-1">

                    <label for="edit-field-pup-historical-1--2" class="control-label">Include Historical
                      Content</label>

                    <div class="select-style select-wrapper"><select
                        data-drupal-selector="edit-field-pup-historical-1" class="form-select form-control"
                        id="edit-field-pup-historical-1--2" name="field_pup_historical_1">
                        <option value="All">- Any -</option>
                        <option value="1" selected="selected">No</option>
                      </select></div>



                  </div>









                  <div
                    class="form-item form-group js-form-item form-type-select js-form-type-select form-item-field-pup-historical js-form-item-field-pup-historical">




                    <label for="edit-field-pup-historical--2" class="control-label">Include Historical Content</label>

                    <div class="select-style select-wrapper"><select data-drupal-selector="edit-field-pup-historical"
                        class="form-select form-control" id="edit-field-pup-historical--2"
                        name="field_pup_historical">
                        <option value="All">- Any -</option>
                        <option value="1" selected="selected">No</option>
                      </select></div>



                  </div>
                  <div data-drupal-selector="edit-actions"
                    class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions--2"><button
                      title="Search" data-drupal-selector="edit-submit-pup-site-index-search-2"
                      class="button js-form-submit form-submit btn-primary btn icon-before" type="submit"
                      id="edit-submit-pup-site-index-search--2" value="Search"><span
                        class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
                      Search</button></div>

                </div>

              </form>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div id="pup-info-menu-collapse" class="pup-header-content-rt col-xs-12 hidden-md hidden-lg collapse no-gutter">
      <div class="region region-info-menu-collapsible">
        <nav role="navigation" aria-labelledby="block-pup-irs-informationmenu-menu" id="block-pup-irs-informationmenu"
          data-block-plugin-id="system_menu_block:pup-info-menu" class="pup-nav-en">

          <h2 class="visually-hidden" id="block-pup-irs-informationmenu-menu">Information Menu</h2>



          <ul block="pup_irs_informationmenu" class="menu menu--pup-info-menu nav">
            <li class="first">
              <a href="/help/let-us-help-you" title="Help" data-drupal-link-system-path="node/16916">Help</a>
            </li>
            <li>
              <a href="/newsroom" title="News" data-drupal-link-system-path="node/19646">News</a>
            </li>
            <li>
              <a href="/charities-and-nonprofits" data-drupal-link-system-path="node/58461">Charities & Nonprofits</a>
            </li>
            <li class="last">
              <a href="/tax-professionals" data-drupal-link-system-path="node/11">Tax Pros</a>
            </li>
          </ul>


        </nav>

      </div>

    </div>

    <div id="pup-header-nav-collapse" class="pup-header-content-rt col-xs-12 hidden-md hidden-lg collapse no-gutter">
      <div class="region region-header-nav-collapsible">
        <section id="block-accordionmainnavigationmobile" data-block-plugin-id="accordion_menus_block:main_mobile"
          class="block block-accordion-menus block-accordion-menus-blockmain-mobile clearfix">



          <div class="accordion_menus_block_container main_mobile">
            <h2 class="accordion-title">
              <a href="#">File</a>
            </h2>
            <div class="accordion_menus-block-content">
              <ul>
                <li><a href="/filing" class="mobile-only-text">Overview</a></li>
                <li><span class="mega-menu-column-header">INFORMATION FOR…</span></li>
                <li><a href="/how-to-file-your-taxes-step-by-step">Individuals</a></li>
                <li><a href="/businesses">Business & Self Employed</a></li>
                <li><a href="/charities-and-nonprofits">Charities and Nonprofits</a></li>
                <li><a href="/individuals/international-taxpayers">International Taxpayers</a></li>
                <li><a href="/government-entities/federal-state-local-governments">Federal State and Local
                    Governments</a></li>
                <li><a href="/government-entities/indian-tribal-governments">Indian Tribal Governments</a></li>
                <li><a href="/tax-exempt-bonds">Tax Exempt Bonds</a></li>
                <li><span class="mega-menu-column-header">FILING FOR INDIVIDUALS</span></li>
                <li><a href="/filing/individuals/how-to-file">How to File</a></li>
                <li><a href="/filing/individuals/when-to-file">When to File</a></li>
                <li><a href="/filing/where-to-file-tax-returns-addresses-listed-by-return-type">Where to File</a></li>
                <li><a href="/filing/individuals/update-my-information">Update Your Information</a></li>
                <li><span class="mega-menu-column-header">POPULAR</span></li>
                <li><a href="/individuals/get-transcript">Get Your Tax Record</a></li>
                <li><a href="/businesses/small-businesses-self-employed/get-an-employer-identification-number">Apply
                    for an Employer ID Number (EIN)</a></li>
                <li><a href="/filing/wheres-my-amended-return">Check Your Amended Return Status</a></li>
                <li><a href="/identity-theft-fraud-scams/get-an-identity-protection-pin">Get an Identity Protection
                    PIN (IP PIN)</a></li>
                <li><a href="/filing/irs-free-file-do-your-taxes-for-free">File Your Taxes for Free</a></li>
              </ul>
            </div>
            <h2 class="accordion-title">
              <a href="#">Pay</a>
            </h2>
            <div class="accordion_menus-block-content">
              <ul>
                <li><a href="/payments" class="mobile-only-text">Overview</a></li>
                <li><span class="mega-menu-column-header">PAY BY</span></li>
                <li><a href="/payments/direct-pay-with-bank-account">Bank Account (Direct Pay)</a></li>
                <li><a href="/payments/online-payment-agreement-application">Payment Plan (Installment Agreement)</a>
                </li>
                <li><a href="/payments/eftps-the-electronic-federal-tax-payment-system">Electronic Federal Tax Payment
                    System (EFTPS)</a></li>
                <li><span class="mega-menu-column-header">POPULAR</span></li>
                <li><a href="/your-account">Your Online Account</a></li>
                <li><a href="/individuals/tax-withholding-estimator">Tax Withholding Estimator</a></li>
                <li><a href="/businesses/small-businesses-self-employed/estimated-taxes">Estimated Taxes</a></li>
                <li><a href="/payments/penalties">Penalties</a></li>
              </ul>
            </div>
            <h2 class="accordion-title">
              <a href="#">Refunds</a>
            </h2>
            <div class="accordion_menus-block-content">
              <ul>
                <li><a href="/refunds" class="mobile-only-text">Overview</a></li>
                <li><a href="/wheres-my-refund" class="mega-menu-column-header">Where's My Refund</a></li>
                <li><a
                    href="/refunds/get-your-refund-faster-tell-irs-to-direct-deposit-your-refund-to-one-two-or-three-accounts">Direct
                    Deposit</a></li>
                <li><a href="/taxtopics/tc203">Reduced Refunds</a></li>
                <li><a href="/filing/file-an-amended-return">Amend Return</a></li>
              </ul>
            </div>
            <h2 class="accordion-title">
              <a href="#">Credits & Deductions</a>
            </h2>
            <div class="accordion_menus-block-content">
              <ul>
                <li><a href="/credits-and-deductions" class="mobile-only-text">Overview</a></li>
                <li><span class="mega-menu-column-header">INFORMATION FOR...</span></li>
                <li><a href="/credits-and-deductions-for-individuals" title="For you and your family">Individuals</a>
                </li>
                <li><a href="/credits-deductions/businesses" title="Standard mileage and other information">Businesses
                    & Self-Employed</a></li>
                <li><span class="mega-menu-column-header">POPULAR</span></li>
                <li><a href="/credits-deductions/individuals/earned-income-tax-credit-eitc">Earned Income Credit
                    (EITC)</a></li>
                <li><a href="/credits-deductions/individuals/child-tax-credit">Child Tax Credit</a></li>
                <li><a href="/credits-deductions/clean-vehicle-and-energy-credits">Clean Energy and Vehicle
                    Credits</a></li>
                <li><a href="/help/ita/how-much-is-my-standard-deduction">Standard Deduction</a></li>
                <li><a href="/retirement-plans">Retirement Plans</a></li>
              </ul>
            </div>
            <h2 class="accordion-title">
              <a href="#">Forms & Instructions</a>
            </h2>
            <div class="accordion_menus-block-content">
              <ul>
                <li><a href="/forms-instructions" class="mobile-only-text">Overview</a></li>
                <li><span class="mega-menu-column-header">POPULAR FORMS & INSTRUCTIONS</span></li>
                <li><a href="/forms-pubs/about-form-1040" title="Individual Tax Return">Form 1040</a></li>
                <li><a href="/pub/irs-pdf/i1040gi.pdf" title="Instructions for Form 1040 ">Form 1040 Instructions</a>
                </li>
                <li><a href="/forms-pubs/about-form-w-9"
                    title="Request for Taxpayer Identification Number (TIN) and Certification">Form W-9</a></li>
                <li><a href="/forms-pubs/about-form-4506-t" title="Request for Transcript of Tax Return">Form
                    4506-T</a></li>
                <li><a href="/forms-pubs/about-form-w-4" class="mega-menu-column-header"
                    title="Employee's Withholding Certificate">Form W-4</a></li>
                <li><a href="/forms-pubs/about-form-941" title="Employer's Quarterly Federal Tax Return">Form 941</a>
                </li>
                <li><a href="/forms-pubs/about-form-w-2"
                    title="Employers engaged in a trade or business who pay compensation">Form W-2</a></li>
                <li><a href="/forms-pubs/about-form-9465" title="Installment Agreement Request">Form 9465</a></li>
                <li><span class="mega-menu-column-header">POPULAR FOR TAX PROS</span></li>
                <li><a href="/forms-pubs/about-form-1040x" title="Amend/Fix Return">Form 1040-X</a></li>
                <li><a href="/forms-pubs/about-form-2848" title="Apply for Power of Attorney">Form 2848</a></li>
                <li><a href="/forms-pubs/about-form-w-7" title="Apply for an ITIN">Form W-7</a></li>
                <li><a href="/pub/irs-pdf/pcir230.pdf" title="Rules Governing Practice before IRS">Circular 230</a>
                </li>
              </ul>
            </div>
          </div>

        </section>

        <nav role="navigation" aria-labelledby="block-pup-irs-mainnavigation-menu" id="block-pup-irs-mainnavigation"
          data-block-plugin-id="system_menu_block:main">

          <h2 class="visually-hidden" id="block-pup-irs-mainnavigation-menu">Main navigation</h2>



          <ul block="pup_irs_mainnavigation" class="menu nav navbar-nav">
            <li>
              <a href="/filing" class="top-level-nav-item">File</a>
            </li>
            <li>
              <a href="/payments" class="top-level-nav-item">Pay</a>
            </li>
            <li>
              <a href="/refunds" class="top-level-nav-item">Refunds</a>
            </li>
            <li>
              <a href="/credits-and-deductions" class="top-level-nav-item">Credits & Deductions</a>
            </li>
            <li>
              <a href="/forms-instructions" class="top-level-nav-item">Forms & Instructions</a>
            </li>
          </ul>




        </nav>
        <nav role="navigation" aria-labelledby="block-pup-irs-infomenumobile-menu" id="block-pup-irs-infomenumobile"
          data-block-plugin-id="system_menu_block:info-menu-mobile">

          <h2 class="visually-hidden" id="block-pup-irs-infomenumobile-menu">Info Menu Mobile</h2>



          <ul block="pup_irs_infomenumobile" class="menu menu--info-menu-mobile nav">
            <li class="first">
              <a href="/help/let-us-help-you" title="Help" data-drupal-link-system-path="node/16916">Help</a>
            </li>
            <li>
              <a href="/newsroom" title="News" data-drupal-link-system-path="node/19646">News</a>
            </li>
            <li>
              <a href="/charities-and-nonprofits" data-drupal-link-system-path="node/58461">Charities & Nonprofits123</a>
            </li>
            <li class="last">
              <a href="/tax-professionals" title="Tax Pros" data-drupal-link-system-path="node/11">Tax Pros</a>
            </li>
          </ul>


        </nav>

      </div>

    </div>

  </header>